body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.place{
  width: 100%;
  position: relative;
}

.scroll{
  width: 4320px;
  height: 7680px;
  padding-right: 17px;
  box-sizing: content-box;
  opacity: .3;
  position: absolute;
}

.pixel {
  background-color: red;
  position: absolute;
}
